<app-video-recorder
  *ngIf="isMakingVideo"
  [videoDuration]="videoDuration"
  [videoSource]="videoSource"
  [text]="text"
>
</app-video-recorder>
<div *ngIf="!isMakingVideo">
  <form>
    <label for="phrase"></label>
    <input id="phrase" type="text" [(ngModel)]="text" name="text" placeholder="Phrase">

    <label for="duration"></label>
    <input id="duration" type="number" [(ngModel)]="videoDuration" name="videoDuration" placeholder="duration">

    <label for="video-source"></label>
    <input id="video-source" type="text" [(ngModel)]="videoSource" name="videoSource" placeholder="Url: http://address">

    <button type="button" (click)="makeVideo()">Make video</button>
  </form>
</div>
